:root{
    --clr-body:#E5E5E5;
    --clr-background: #38404B;
    --clr-placeholder: rgba(148, 173, 207, 0.7);
    --clr-text: #94ADCF
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
}
html{
    font-size: 62.5%;
}

body{
    display: flex;
}

.app-container{
    background-color: var(--clr-body);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app{
    background-color: var(--clr-background);
    border-radius: 6.5em;
    color: var(--clr-text);
    height: 72rem;
    width: 128rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    display: flex;
    margin-top: 6rem;
    height: 5rem;
    width: 80%;
    position: relative;
    align-items: center;
    justify-content: center;
}

.header > img{
    height: 2.9rem;
    width: 4rem;
    position: absolute;
    right: 0;
}

.input-container {
    border-radius: .8rem;
    box-shadow: inset 2px 2px 4px rgba(0,0,0,0.1),
                    2px 2px 4px rgba(175, 175, 175, 0.1);
    height: 5.9rem;
    width: 59rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-container > input,
.input-container > button {
    appearance: none;
    background: none;
    border: none;
    color: var(--clr-text);
    outline: none;
}

::placeholder{
    color: var(--clr-placeholder);
}

.input--new-todo{
    height: 100%;
    width: 100%;
    padding-left: 4rem;
    font-size: 1.8rem;
    line-height: 1.8rem;
}

.input--submit-todo{
    padding-right: 2rem;
    height: 1.6rem;
    margin-bottom: .4rem;
}

main {
    margin: 2rem auto;
    height: 75%;
    width: 80%;
}

.todos-container{
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    margin-top: 7rem;
}

.todo-section{
    height: 50%;
    width: 100%;
    padding: 2rem;
}

.todos-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.todo{
    border-radius: 1.6rem;
    box-shadow: -5px 5px 10px rgba(48, 54, 64, 0.2), 5px -5px 10px rgba(48, 54, 64, 0.2), -5px -5px 10px rgba(64, 74, 86, 0.9), 5px 5px 13px rgba(48, 54, 64, 0.9), inset 1px 1px 2px rgba(64, 74, 86, 0.3), inset -1px -1px 2px rgba(48, 54, 64, 0.5);
    padding: 0 2rem;
    width: 45%;
    height: 6rem;
    margin-bottom:5rem;
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
}

.todo::before{
    display: inline-block;
    content: '';
    -webkit-border-radius: 0.375rem;
    border-radius: 0.375rem;
    height: 1.3rem;
    width: 1.3rem;
    margin-right: 2rem;
    background-color: transparent;
    border: .25rem solid var(--clr-text);
    border-radius: 50%;
}

.completed{
    box-shadow: inset 2px 2px 4px rgba(0,0,0,0.1),
    2px 2px 4px rgba(175, 175, 175, 0.1);
    text-decoration: line-through;
    text-decoration-thickness: .16rem;
}

.completed::before{
    background-color: var(--clr-text);
    height: 1.3rem;
    width: 1.3rem;
}

.completed-text{
    margin-bottom: 3rem;
    font-size: 1.6rem;
}

@media screen and (max-width: 38rem) {
    .app{
      height: 100vh;
      width: 100vw;
    }
}

